{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Buy</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="{% url 'dashboard-buy' %}">Buy</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="{% url 'dashboard-buy' %}">Buy List</a>
					</li>
				</ul>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">Buy List</div>
								<div class="card-tools">
									<ul class="nav nav-pills nav-secondary nav-pills-no-bd nav-sm" id="pills-tab" role="tablist">
										<li class="nav-item">
											<a href="{% url 'dashboard-buy-create' %}" type="button" class="nav-link active" aria-selected="false">Add New</a>
										</li>
										<!-- <li class="nav-item">
											<a href="{% url 'dashboard-buy-create' %}" type="button" class="nav-link active" aria-selected="false">Export</a>
										</li> -->
										<li class="nav-item">
											<a href="{{ print_url }}" target="_blank" type="button" class="nav-link active" aria-selected="false">Print</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="card-sub">
								<div class="row">
									<div class="col-md-6 col-lg-2">
										Start Date:
										<input type="date" name="start_date" class="form-control " placeholder="Start Date" id="start_date" value="{{ filters.date__gte }}"/>
									</div>
									<div class="col-md-6 col-lg-2">
										End Date:
										<input type="date" name="end_date" class="form-control " placeholder="Start Date" id="end_date" value="{{ filters.date__lte }}"/>
									</div>
									<div class="col-md-6 col-lg-2">
										Code:
										<input type="text" name="code" class="form-control " placeholder="Code" id="code" value="{{ filters.code__icontains }}"/>
									</div>
									<div class="col-md-6 col-lg-3">
										Supplier:
										<select name="supplier" class="form-control " placeholder="Supplier" id="supplier">
											<option value="" {% if filters.supplier == None %}selected{% endif %}>All</option>
											{% for supplier in suppliers %}
											<option value="{{ supplier.id }}" {% if supplier.id|stringformat:"s" == filters.supplier %}selected{% endif %}>{{ supplier.name }}</option>
											{% endfor %}
										</select>	
									</div>
									<div class="col-md-6 col-lg-3">
										Warehouse:
										<select name="warehousein" class="form-control " placeholder="Supplier" id="warehousein">
											<option value="" {% if filters.warehousein == None %}selected{% endif %}>All</option>
											{% for warehouse in warehouses %}
											<option value="{{ warehouse.id }}" {% if warehouse.id|stringformat:"s" == filters.warehousein %}selected{% endif %}>{{ warehouse.name }}</option>
											{% endfor %}
										</select>	
									</div>
								</div>
								<div class="row">
									<div class="col-md-6 col-lg-1">
										Operator:
										<select name="operator" class="form-control " placeholder="Status" id="operator">
											<option value="e" {% if operator == 'e' %}selected{% endif %}>=</option>
											<option value="gt" {% if operator == 'gt' %}selected{% endif %}>></option>
											<option value="lt" {% if operator == 'lt' %}selected{% endif %}><</option>
											<option value="gte" {% if operator == 'gte' %}selected{% endif %}>=></option>
											<option value="lte" {% if operator == 'lte' %}selected{% endif %}>=<</option>
										</select>	
									</div>
									<div class="col-md-6 col-lg-2">
										Total:
										<input type="number" name="total" class="form-control " placeholder="Total" id="total" value="{{ total }}"/>
									</div>
									<div class="col-md-6 col-lg-7">
										Description:
										<input type="text" name="description" class="form-control " placeholder="Description" id="description" value="{{ filters.description__icontains }}"/>
									</div>
									<div class="col-md-6 col-lg-2">
										<br/>
										<a href="#" onclick="filter()" class="btn btn-md btn-success" width="100%">Filter</a>
										<a href="{% url 'dashboard-buy' %}" class="btn btn-md btn-primary" width="100%">Clear</a>
									</div>
								</div>										
							</div>					
							<table class="table mt-3 table-bordered table-hover table-striped">
								<thead>
									<tr>
                                        <th class="col-md-1">No.</th>
                                        <th class="col-md-2">Date</th>
                                        <th class="col-md-2">Code</th>
                                        <th class="col-md-4">Supplier</th>
                                        <th class="col-md-4">Warehouse</th>
                                        <th class="col-md-4">Total</th>
                                        <th class="col-md-2">Description</th>
                                        <th class="col-md-1">Action</th>
									</tr>
								</thead>
								<tbody>
                                    {% for data in datas %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ data.date }}</td>
                                            <td>{{ data.code }}</td>
                                            <td>{{ data.supplier }}</td>
                                            <td>{{ data.warehousein }}</td>
											{% load humanize %}
                                            <td style="text-align: right;">{{ data.total|floatformat:0|intcomma }}</td>
                                            <td>{{ data.description }}</td>
                                            <td>
                                                <div class="btn-group" role="group" aria-label="Action">
                                                    <a href="{% url 'dashboard-buy-invoice' data.id %}" target="_blank" type="button" class="btn btn-success">Invoice</a>
                                                    <a href="{% url 'dashboard-buy-edit' data.id %}" type="button" class="btn btn-warning">Edit</a>
                                                    <a href="#" onclick="hapus('{{ data.id }}')" type="submit" class="btn btn-danger">Delete</a>
                                                </div>                                
                                            </td>
                                        </tr>
                                    {% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script>
		//== Class Initialization
		jQuery(document).ready(function() {
			$('#delete_data').click(function(e) {
					var postId = $(this).data('id');
					swal({
						title: 'Do you want to delete?',
						text: "You won't be able to revert this!",
						type: 'warning',
						buttons:{
							cancel: {
								visible: true,
								text : 'Cancel',
								className: 'btn btn-success'
							},        			
							confirm: {
								text : 'OK',
								className : 'btn btn-danger'
							}
						}
					}).then((willDelete) => {
						if (willDelete) {
							var url = "{% url 'dashboard-buy-delete' 'hapus-ini' %}";
							var newurl = url.replace('hapus-ini',postId);
							window.location.href = newurl;
						}
					});
			})
		});
	</script>
	<script>
		//== Class Initialization
		function hapus(id){
			swal({
				title: 'Do you want to delete?',
				text: "You won't be able to revert this!",
				type: 'warning',
				buttons:{
					cancel: {
						visible: true,
						text : 'Cancel',
						className: 'btn btn-success'
					},        			
					confirm: {
						text : 'OK',
						className : 'btn btn-danger'
					}
				}
			}).then((willDelete) => {
				if (willDelete) {
					var url = "{% url 'dashboard-buy-delete' 'hapus-ini' %}";
					var newurl = url.replace('hapus-ini',id);
					window.location.href = newurl;
				}
			});
		}
	</script>
	<script>
		function filter(){
			var start_date = $('#start_date').val();
			var end_date = $('#end_date').val();
			var code = $('#code').val();
			var supplier = $('#supplier option:selected').val();
			var warehousein = $('#warehousein option:selected').val();
			var operator = $('#operator option:selected').val();
			var total = $('#total').val();
			var description = $('#description').val();
			var action = "{% url 'dashboard-buy' %}";
			action = action+'?start_date='+start_date+'&end_date='+end_date+'&code='+code+'&supplier='+supplier+'&warehousein='+warehousein+'&operator='+operator+'&total='+total+'&description='+description;
			window.location.href = action;
		}
	</script>
{% endblock javascripts %}
